.header-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 0 50px 0;
    width: 100%;
    background-color: #F8F8F8;
    font-size: 16px;
    padding: 0 50px 0 50px;
    position: fixed;
    top: 0;
}

.header-item {
    padding: 30px 16px 30px 16px;
    margin-right: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: ease all 0.2s;
    border-bottom: 2px solid transparent;
}

.header-item:hover {
    transition: ease all 0.2s;
    border-bottom: 2px solid #165097;
}

.header-item.active {
    border-bottom: 2px solid #165097;
    transition: ease all 0.2s;
}


.pull-left {
    margin: 0 auto 0 0;
}

.header-links-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .header-links {
        display: none;
    }

    .header-links-mobile {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 25px 15px 25px 15px;
        font-size: 16px;
        position: fixed;
        top: 0;
        background-color: #F8F8F8;
    }
}
