.h1 {
    font-family: 'Playfair Display';
    font-size: 70px;
    font-weight: bold;
}

.landing {
    padding-top: 170px;
    padding-bottom: 80px;
}

.maxwidth {
    max-width: 960px;
    margin: 0 auto;
}

.layout-bg {
    background-color: #F8F8F8;
}

.landing-after {
    margin-top: 60px;
}

.header-main {
    max-width: 612px;
}

.button-group {
    margin-top: 10px;
}

.button {
    font-size: 16px;
    border: none;
    background-color: #165097;
    padding: 10px 20px 10px 20px;
    margin-top: 15px;
    margin-right: 20px;
    width: 200px;
    color: #fdfdfd; 
    cursor: pointer;
    transition: all 0.3s ease;    
    border-radius: 10px;
}

.button.no-width {
    width: auto;
}

.button:hover {
    background-color: #27c971;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.illu {
    justify-self: center;
    align-self: center;
    flex: 1;
}

.content {
    margin-left: 20px;
    margin-right: 20px;
    flex: 1;
}

.about-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0 70px 0;
}

.about-grid.reverse {
    flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
    .about-grid {
        display: block;
    }

    .content {
        margin-left: 0px;
        margin-right: 0px;
    }

    .maxwidth {
        padding-left: 15px;
        padding-right: 15px;
    }

    .landing-after {
        margin-top: 0px;
        padding-top: 70px;
    }
}